<h1>Badges#index</h1>
<p>Find me in app/views/badges/index.html.erb</p>
<% @badges.each do|badge| %>
  <p><%= badge.title %></p>
<% end %>

<%= link_to "Log out", destroy_user_session_path, method: :delete %>


<!-- Navbar -->
<ul class="nav nav-custom fixed-bottom">
  <div class="container d-flex justify-content-between align-items-center">
    <li class="nav-item">
      <%= link_to(root_path, class: "nav-link") do %>
        <%= image_tag "search-purple.svg", width: "24px" %>
        <p>Home</p>
      <% end %>
    </li>
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to(records_path(current_user), class: "nav-link") do %>
          <%= image_tag "marker-purple.svg", width: "24px" %>
          <p>Journey</p>
        <% end %>
      <% else %>
        <%= link_to(new_user_session_path, class: "nav-link") do %>
          <%= image_tag "marker-purple.svg", width: "24px" %>
          <p>Journey</p>
        <% end %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to(badges_path(current_user), class: "nav-link active") do %>
          <%= image_tag "person-purple.svg", width: "24px" %>
          <p>Me</p>
        <% end %>
      <% else %>
        <%= link_to(new_user_session_path, class: "nav-link active") do %>
          <%= image_tag "person-purple.svg", width: "24px" %>
          <p>Me</p>
        <% end %>
      <% end %>
    </li>
  </div>
</ul>
