<div class="container mt-5 text-center">
  <h3 class="text-primary">
    <%= current_user.user_name %>
  </h3>
  <p class="text-primary mt-3 mb-5">我的成就</p>
</div>
<% if @badges.length != 0 %>
  <div class="container px-5">
    <div class="row" style="max-width: 400px; margin: 0 auto;">
      <% @badges.each do|badge| %>
        <% if badge.obtained %>
          <div class="col-6">
            <div class="text-center">
              <%= image_tag "badge.svg", width: "80px", class: "mb-2" %>
              <p class="mb-5 text-danger"><%= badge.title %></p>
            </div>
          </div>
        <% else %>
          <div class="col-6">
            <div class="text-center">
              <%= image_tag "badge-gray.svg", width: "80px", class: "mb-2" %>
              <p class="mb-5" style="color: #E1E1E1"><%= badge.title %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="container text-center" style="padding-bottom: 72px;">
  <%= link_to "退出登录", destroy_user_session_path, method: :delete, class: "button-green mb-5" %>
</div>
<!-- Navbar -->
<ul class="nav nav-custom fixed-bottom">
  <div class="container d-flex justify-content-between align-items-center">
    <li class="nav-item">
      <%= link_to(scenarios_path, class: "nav-link") do %>
        <%= image_tag "search-purple.svg", width: "24px" %>
        <p>首页</p>
      <% end %>
    </li>
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to(records_path(current_user), class: "nav-link") do %>
          <%= image_tag "marker-purple.svg", width: "24px" %>
          <p>记录</p>
        <% end %>
      <% else %>
        <%= link_to(new_user_session_path, class: "nav-link") do %>
          <%= image_tag "marker-purple.svg", width: "24px" %>
          <p>记录</p>
        <% end %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to(badges_path(current_user), class: "nav-link active") do %>
          <%= image_tag "person-purple.svg", width: "24px" %>
          <p>我的</p>
        <% end %>
      <% else %>
        <%= link_to(new_user_session_path, class: "nav-link active") do %>
          <%= image_tag "person-purple.svg", width: "24px" %>
          <p>我的</p>
        <% end %>
      <% end %>
    </li>
  </div>
</ul>
