<div class="container mt-5 text-center">
  <h3 class="text-primary">
    <%= current_user.first_name %>
    <%= current_user.last_name %>
  </h3>
  <p class="text-primary mt-5 mb-4">Your achievements</p>
</div>
<% if @badges.length != 0 %>
  <div class="container mb-5 px-4 d-flex justify-content-around">
    <% @badges.each do|badge| %>
      <div class="row">
        <div class="text-center mx-3" style="width: 100px;">
          <i class="fas fa-certificate text-info" style="font-size: 70px;"></i>
          <p class="my-3"><%= badge.title %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="container text-center">
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button-green" %>
</div>



<!-- Navbar -->
<ul class="nav nav-custom fixed-bottom">
  <div class="container d-flex justify-content-between align-items-center">
    <li class="nav-item">
      <%= link_to(root_path, class: "nav-link") do %>
        <%= image_tag "search-purple.svg", width: "24px" %>
        <p>Home</p>
      <% end %>
    </li>
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to(records_path(current_user), class: "nav-link") do %>
          <%= image_tag "marker-purple.svg", width: "24px" %>
          <p>Journey</p>
        <% end %>
      <% else %>
        <%= link_to(new_user_session_path, class: "nav-link") do %>
          <%= image_tag "marker-purple.svg", width: "24px" %>
          <p>Journey</p>
        <% end %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to(badges_path(current_user), class: "nav-link active") do %>
          <%= image_tag "person-purple.svg", width: "24px" %>
          <p>Me</p>
        <% end %>
      <% else %>
        <%= link_to(new_user_session_path, class: "nav-link active") do %>
          <%= image_tag "person-purple.svg", width: "24px" %>
          <p>Me</p>
        <% end %>
      <% end %>
    </li>
  </div>
</ul>
