<div class="container my-5">
  <%= link_to root_path do %>
    <%= show_svg ("close-gray.svg")%>
  <% end %>
  <div class="my-5">
    <h3 class="text-primary">忘记密码?</h3>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "找回密码", class: "button-green btn-block my-3"  %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>