<div class="container mt-5 text-center">
  <h3 class="text-primary">
    恭喜!
  </h3>
  <p>你得到了一枚奖章!</p>
  <%= javascript_pack_tag 'confetti' %>
  <%= image_tag "badge.svg", width: "24px" %>
  <%=simple_form_for(@record, method: :patch, url: step_record_path(params[:step_id])) do |f| %>
    <%= f.submit "查看我所有的徽章", class: "button-green"  %>
    <% session[:record_id] = @record.id %>
  <% end %>
  <%=simple_form_for(@record, method: :patch, url: step_record_path(params[:step_id])) do |f| %>
    <%= f.submit "分享到我的微信", class: "button-purple"  %>
    <% session[:record_id] = @record.id %>
  <% end %>
</div>