<!-- Quiz content -->
<div class="container my-5">
  <h5 class="text-primary">练习 <%= @step.priority %></h5>
  <!-- display the question -->
  <p class="my-3"><%= @steps.find_by_priority(@step.priority).question %> （选择正确答案的数字编号）</p>
  <p class="d-none" id="right-answer"><%= @step.right_answer %></p>
</div>

<!-- Quiz options -->
<div class="quiz-options d-flex justify-content-center align-items-center">
  <div class="options-container">
    <ul class="list-inline mb-0 d-flex justify-content-between">
      <li class="quiz-option-items list-inline-item">1</li>
      <li class="quiz-option-items list-inline-item">2</li>
      <li class="quiz-option-items list-inline-item">3</li>
    </ul>
  </div>
</div>

<!-- Incorrect answer alert -->
<div class="quiz-alert-incorrect d-none">
  <div class="container d-flex align-items-center" style="height: 100%;">
    <h6>再试一次</h6>
  </div>
</div>

<!-- Correct answer alert -->
<div class="quiz-alert-correct d-none">
  <div class="container d-flex justify-content-between align-items-center" style="height: 100%;">
    <h6>答对了！</h6>
    <!-- render the button according to progress -->
    <% if @steps.length == @step.priority %>
      <!-- since the last step of practice do not have next step,so here need to render a new page. Because the "完成啦" submit button contains the update action of record, so we put this part on views/records/edit.html.erb  -->
      <%= link_to "完成啦！", edit_record_path(@my_record, step_id: @step.id), class: "button-white" %>
    <% else %>
      <%= link_to "下一题", step_path(@step.id + 1), class: "button-white" %>
    <% end %>
  </div>
</div>

<!-- Image -->
<div class="container my-3 text-center">
  <%= image_tag url_for(@steps.find_by_priority(@step.priority).image), style: "height: 100vh;"%>
</div>

<%= javascript_pack_tag 'quiz' %>
