<h1>Steps#show</h1>
<!-- This is to render individual steps  # work in progress-->
<h2>All steps</h2>
<% @steps.each do |step| %>
  <p>Category <%= step.category %> </p>
  <p>Priority <%= step.priority %></p>
  <p>instruction <%= step.instruction %> </p>
<% end %>
<%=simple_form_for(@record, method: :patch, url: step_record_path(params[:id])) do |f| %>
  <%= f.submit "Submit", class: "btn btn-primary text-light btn-block mb-3"  %>
<% end %>
<p><%= link_to "back", scenario_steps_path(@scenario.id)%> </p>