<% @steps.each do |step| %>
  <% case step.category %>
  <% when 1 %>
    <%= video_tag url_for(step.video), controls: true, class: "video-demo" %>
    <div class="overlay invisible"></div>
    <%=simple_form_for(@record, method: :patch, url: step_record_path(params[:id])) do |f| %>
      <%= f.submit "Next", class: "btn btn-primary text-light invisible" %>
    <% end %>
    <%= javascript_pack_tag 'video-demo' %>
  <% when 2 %>
    <%= image_tag(url_for(step.image))%>
    <%=simple_form_for(@record, method: :patch, url: step_record_path(params[:id])) do |f| %>
      <%= f.submit "Submit", class: "btn btn-primary text-light mb-3"  %>
    <% end %>
  <% end %>
<% end %>


