<%= link_to root_path do %>
  <%= show_svg ("close-gray.svg")%>
<% end %>
<% step = @steps.first %>
<% case step.category %>
<% when 1 %>
<%= video_tag url_for(step.video), controls: true, class: "video-demo" %>
<div class="overlay invisible container d-flex justify-content-center align-items-center">
  <%= link_to "分步引导", trial_path((@step.id + 1)), class: "button-green invisible" %>
</div>
<%= javascript_pack_tag 'video-demo' %>
<% when 2 %>
<!-- TODO: why is this tag at the top?? -->
<div class="d-flex justify-content-center" style="background-color: #595959;">
  <%= image_tag url_for(@steps.find_by_priority(@step.priority).image), class: "walkthrough-image" %>
</div>
<div class="fixed-bottom bg-success d-flex justify-content-center align-items-center" style="height: 72px;">
  <% if @steps.length == @step.priority %>
    <%= link_to "开始练习", trial_path((@step.id + 1)), class: "button-white" %>
  <% else %>
    <%= link_to "下一步", trial_path((@step.id + 1)), class: "button-white" %>
  <% end %>
</div>
<% when 3 %>
<div class="container mt-5">
  <h5 class="text-primary">练习</h5>
  <!-- display the question -->
  <p><%= @steps.find_by_priority(@step.priority).question %></p>
  <p class="d-none" id="right-answer"><%= @step.right_answer %></p>
  <!-- display the image -->
  <%= image_tag url_for(@steps.find_by_priority(@step.priority).image), style: "width: 100%; margin-bottom: 170px;"%>
  <div class="fixed-bottom">
    <div class="quiz-alert-incorrect d-none">
      <div class="container d-flex align-items-center" style="height: 100%;">
        <h6>再试一次</h6>
      </div>
    </div>
    <div class="quiz-alert-correct d-none">
      <div class="container d-flex justify-content-between align-items-center" style="height: 100%;">
        <h6>答对了！</h6>
        <!-- render the button according to progress -->
        <% if @steps.length == @step.priority %>
          <!-- since the last step of practice do not have next step,so here need to render a new page. Because the "完成啦" submit button contains the update action of record, so we put this part on views/records/edit.html.erb  -->
          <h6>恭喜你！完成啦！</h6>
          <%= link_to "回到首页", root_path, class: "button-white" %>
        <% else %>
          <%= link_to "下一题", trial_path((@step.id + 1)), class: "button-white" %>
        <% end %>
      </div>
    </div>
    <div class="quiz-options d-flex justify-content-center align-items-center">
      <div class="options-container">
        <ul class="list-inline mb-0 d-flex justify-content-between">
          <li class="quiz-option-items list-inline-item">1</li>
          <li class="quiz-option-items list-inline-item">2</li>
          <li class="quiz-option-items list-inline-item">3</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'quiz' %>
<% end %>