<!-- This is the overall scenarios listing landing page -->
<div class="container mt-3" style="padding-bottom: 72px;">
  <div class="row">
    <% @scenarios.each do |scenario| %>
      <div class="col-sm-12 col-md-6">
        <%= link_to scenario_path(scenario.id) do %>
          <div class="card scenario-card mb-3" style="background-image: url(<%= scenario.image_url %>)">
            <h5><%= scenario.title %></h5>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'colored-cards' %>
<!-- Navbar -->
<ul class="nav nav-custom fixed-bottom">
  <div class="container d-flex justify-content-between align-items-center">
    <li class="nav-item">
      <%= link_to(scenarios_path, class: "nav-link active") do %>
        <%= image_tag "search-purple.svg", width: "24px" %>
        <p>首页</p>
      <% end %>
    </li>
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to(records_path(current_user), class: "nav-link") do %>
          <%= image_tag "marker-purple.svg", width: "24px" %>
          <p>记录</p>
        <% end %>
      <% else %>
        <%= link_to(new_user_session_path, class: "nav-link") do %>
          <%= image_tag "marker-purple.svg", width: "24px" %>
          <p>记录</p>
        <% end %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to(badges_path(current_user), class: "nav-link") do %>
          <%= image_tag "person-purple.svg", width: "24px" %>
          <p>我的</p>
        <% end %>
      <% else %>
        <%= link_to(new_user_session_path, class: "nav-link") do %>
          <%= image_tag "person-purple.svg", width: "24px" %>
          <p>我的</p>
        <% end %>
      <% end %>
    </li>
  </div>
</ul>
