<div class="container my-5">
  <%= link_to root_path do %>
    <%= image_tag "close-gray.svg", width: "24px" %>
  <% end %>
  <!-- This page is to render the introduction page for the individual scenario -->
  <div class="my-5">
    <h3 class="text-primary"><%= @scenario.title %></h3>
    <p><%= @scenario.description %></p>
    <h6>1. 短片</h6>
    <h6>2. 分步引导</h6>
    <h6>3. 练习</h6>
    <%=simple_form_for(@record, method: :post, url: scenario_records_path(params[:id])) do |f| %>
      <%= f.submit "开始", class: "btn btn-primary text-light btn-block my-3"  %>
    <% end %>
  </div>
</div>
