<div class="container my-5 px-5">
  <%= link_to scenarios_path do %>
    <%= show_svg ("close-gray.svg")%>
  <% end %>
  <!-- This page is to render the introduction page for the individual scenario -->
  <div class="py-5">
    <h3 class="text-primary"><%= @scenario.title %></h3>
    <div class="my-4">
      <p><%= @scenario.description %></p>
      <% if @scenario.description != "内容准备中......" %>
        <div>
          <h6 class="intro-index list-inline-item">1</h6>
          <h6 class="list-inline-item">短片</h6>
        </div>
        <div>
          <h6 class="intro-index list-inline-item">2</h6>
          <h6 class="list-inline-item">分步引导</h6>
        </div>
        <div>
          <h6 class="intro-index list-inline-item">3</h6>
          <h6 class="list-inline-item">练习</h6>
        </div>
      <% end %>
    </div>
    <% if !current_user && @scenario.title == "学会打车"%>
      <%= link_to "开始试用", trial_path(@scenario.steps.first), class: "btn btn-primary text-light btn-block my-3" %>
    <% elsif @scenario.description == "内容准备中......" %>
      <%= link_to "回到首页", scenarios_path, class: "btn btn-primary text-light btn-block my-3" %>
    <% else %>
      <%=simple_form_for(@record, method: :post, url: scenario_records_path(params[:id])) do |f| %>
        <%= f.submit "开始", class: "button-green btn-block my-3"  %>
      <% end %>
    <% end %>
  </div>
</div>
