<div class="container my-5">
  <%= link_to root_path do %>
    <%= image_tag "close-gray.svg", width: "24px" %>
  <% end %>
  <!-- This page is to render the introduction page for the individual scenario -->
  <div class="my-5">
    <h3 class="text-primary"><%= @scenario.title %></h3>
    <p><%= @scenario.description %></p>
    <p>There will be three parts in this tutorial:</p>
    <h6>1. Demo</h6>
    <h6>2. Walk-through</h6>
    <h6>3. Quiz</h6>
    <%=simple_form_for(@record, method: :post, url: scenario_records_path(params[:id])) do |f| %>
      <%= f.submit "Begin", class: "btn btn-primary text-light btn-block my-3"  %>
    <% end %>
  </div>
</div>